<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <!-- Desliga listagem de diretorio -->
    <directoryBrowse enabled="false" />

    <!-- MIME types essenciais para site estatico -->
    <staticContent>
      <remove fileExtension=".woff2" />
      <remove fileExtension=".woff" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".svg" />
      <remove fileExtension=".webp" />
      <remove fileExtension=".mp4" />
      <remove fileExtension=".mjs" />
      <remove fileExtension=".json" />
      <mimeMap fileExtension=".css" mimeType="text/css" />
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".mjs" mimeType="application/javascript" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".woff" mimeType="font/woff" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".ttf" mimeType="font/ttf" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
    </staticContent>

    <!-- Compressao basica -->
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll" />
      <staticTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="image/svg+xml" enabled="true" />
        <add mimeType="font/*" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </staticTypes>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true" />
        <add mimeType="application/javascript" enabled="true" />
        <add mimeType="application/json" enabled="true" />
        <add mimeType="*/*" enabled="false" />
      </dynamicTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true" />

    <!-- Default document -->
    <defaultDocument enabled="true">
      <files>
        <add value="index.html" />
        <add value="default.html" />
        <add value="41422.html" />
      </files>
    </defaultDocument>

    <!-- Sem URL Rewrite (evita 500 se o módulo não estiver instalado) -->
  </system.webServer>
</configuration>
